// Enable full grid system.
$enable-full-grid: false !default;
// NOTE: This var will be used on condition that `$enable-full-grid` enabled.
$grid-columns: 12;

// Enable transations.
$enable-transitions: true !default;

// Enable visibility.
$enable-visibility: true !default;

// Enable spinners.
$enable-spinners: true !default;

// Enable tooltips.
$enable-tooltips: false !default;

// Enable spacing.
$enable-spacing: false !default;

// Enable shadows.
$enable-shadows: false !default;

// Enable responsive typography.
$enable-responsive-typography: true !default;

// Enable responsive spacing.
$enable-responsive-spacings: true !default;

// Breakpoints
$breakpoints: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
) !default;

// Viewports
$viewports: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
) !default;

// Spacing sizes
$spacing-sizes: (
    0: 0rem,
    1: 0.25rem,
    2: 0.5rem,
    3: 1rem,
    4: 2rem,
    5: 4rem,
    6: 8rem,
) !default;

$spacing-positions: (
    t: 'top',
    r: 'right',
    b: 'bottom',
    l: 'left'
) !default;

$shadows: (
    sm: '0 1px 2px 0 rgba(0, 0, 0, 0.05)',
    md: '0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)',
    lg: '0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)',
    inner: 'inset 0 2px 4px 0 rgba(0, 0, 0, 0.06)',
    none: 'none',
)