hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border: none;
    border-top: 1px solid var(--muted-border-color);
}

canvas {
    display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

iframe {
    border-style: none;
}

img {
    max-width: 100%;
    height: auto;
    border-style: none;
}

svg:not([fill]) {
    fill: currentColor;
}

svg:not(:root) {
    overflow: hidden;
}